doctype html
html
  head
    title= title
    // jQuery
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    // Twitter Bootstrap
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    // Angular JS
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    // Main code
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='javascripts/core.js')
    script(type='text/javascript', src='javascripts/main.js')
  body(ng-app)
    block content